---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Clement Papillon";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonSpaceGif" src="/space.webp"/>
    </div>
    <h1>Clement Papillon</h1>
    <span class="badge">Technicien du système d'information en alternance</span>
    <h2>A propos</h2>
    <p>
        Étudiant en BTS Services Informatiques aux Organisations (SIO), option SISR, j’ai 23 ans et une
        passion profonde pour les infrastructures réseau et la cybersécurité. Fasciné par ce domaine depuis
        l’âge de 15 ans, j’ai eu l’opportunité de le découvrir lors de mon stage de troisième, une expérience 
        qui a confirmé mon envie d’évoluer dans ce secteur.
    </p>

    <p>
        Aujourd’hui, j’approfondis mes compétences grâce à ma formation à CaenSup Sainte Ursule et 
        mon expérience professionnelle en apprentissage à la CAF de l’Orne. Curieux et rigoureux, je 
        m’intéresse également aux nouvelles technologies, aux jeux vidéo et aux mangas, qui nourrissent 
        ma créativité et mon esprit analytique.
    </p>
    
    <p>
        Je suis toujours à la recherche de nouveaux défis pour développer mon expertise et contribuer à des 
        projets ambitieux dans le domaine des infrastructures réseau et de la gestion des systèmes 
        d’information.
    </p>

    </p>
    <div class="center">
        <a href="/works/">
            <button class="btn">Mon portfolio</button>
        </a>
    </div>
    <h2>Compétences</h2>
<!--<div class="skills center">
        <img class="skills__img" width="46" height="46" alt="C#" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/csharp/csharp-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="DotNetCore" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dotnetcore/dotnetcore-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="TypeScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Angular" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Bootstrap" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bootstrap/bootstrap-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="CSS" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="HTML" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Git" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"/>
    </div> -->
    <ul>
        <li>Configuration de matériel réseau</li>
        <li>Gestion de projets</li>
        <li>Support informatique</li>
        <li>Gestion de parc informatique</li>
        <li>Formation des collaborateurs aux nouvelles applications</li>
        <li>Utilisation des systèmes d'exploitation Linux et Microsoft</li>
        <li>Exploitation des outils bureautique</li>
    </ul>
    <h2>Parcours scolaire</h2>
    <p>
        Mon intérêt pour l’informatique a débuté dès le collège, 
        avec un stage de 3ᵉ en développement web qui m’a permis de découvrir cet univers. Après l’obtention de mon brevet, 
        j’ai poursuivi mes études en Bac technologique STI2D, option Systèmes Informatiques et Numériques, au lycée Alain à Alençon.    </p>
    <p>
        Par la suite, j’ai exploré une autre voie en intégrant une licence d’économie à l’Université de Caen. 
        Cette expérience m’a amené à faire une pause pour mieux réfléchir à mon orientation professionnelle, 
        tout en acquérant de l’expérience dans le monde du travail.
    </p>
    <p>
        En 2023, j’ai décidé de revenir à ma passion en intégrant un BTS SIO (Services Informatiques aux Organisations), 
        option SISR (Solutions d’Infrastructure, Systèmes et Réseaux) en alternance. 
        Mon objectif est de devenir technicien du système d’information, 
        en consolidant mes compétences à la CAF de l’Orne tout en suivant ma formation à CaenSup Sainte Ursule.    
    </p>

</Layout>

