---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="navbar">
    <div class="navbar__title">
        <a href="/">Clement Papillon</a>
    </div>
    <div class="navbar__menu">
        <a href="/works/">Projets</a>
        <a href="/posts/">Expériences</a>
        <ThemeIcon />
    </div>
</div>

